<p class="center">Patches made by the Modding-OpenMW.com community that are no longer being included in any of the modlists.</p>

<p class="center"><div class="bold">Note that all of these patches are no longer supported and come "as is"!</div></p>

<div class="center">
  <a href="/img/Redaynia Restored Mushroom Tree Replacer Patch.png"><img src="/img/Redaynia Restored Mushroom Tree Replacer Patch.png" title="Redaynia Restored+Mushroom Tree Replacer Patch"/></a>
  <a href="/img/Kogoruhn - Extinct City of Ash and Sulfur+ROHT Patch.png"><img src="/img/Kogoruhn - Extinct City of Ash and Sulfur+ROHT Patch.png" title="Kogoruhn - Extinct City of Ash and Sulfur+ROHT Patch"/></a>
  <a href="/img/BCOM+TOTSP+RRBetterShipsnBoatsPatch.png"><img src="/img/BCOM+TOTSP+RRBetterShipsnBoatsPatch.png" title="BCOM+TOTSP+RR Better Ships and Boats Patch"/></a>
  <a href="/img/RRBetterShipsnBoatsChargenPatch.png"><img src="/img/RRBetterShipsnBoatsChargenPatch.png" title="RR Better Ships and Boats Chargen Patch"/></a>
</div>

<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above.</li>
  <li>Extract the contents to a location of your choosing.</li>
  <li>See each mod's individual <code>README.md</code> file for detailed load order information.</li>
  <li>Note that these plugins won't be of any use without their dependent plugins, and these need to load after them. Enjoy!</li>
</ol>
